<style>
 .game_condition .bg-overlay {
  background:none !important
 }
 .game_condition:hover .bg-overlay{
  background:rgba(255, 255, 255, 0.16) !important

 }
 .row {
   margin-left: 0px;
   margin-right: 0px;
 }
</style>
  <script>
  $( function() {
    $( ".tabs" ).tabs();
  } );
</script>
        <!-- ========== Page Title ========== -->

        <header style="border-bottom: 2px solid gray;
    background: url(http://shartlon.com/wp-content/uploads/2015/09/09059_412_5-7-2009.jpg) no-repeat center center;
    background-size: cover ;
    background-position: 0% 60%;" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                  <a href="/qna/index"><h1 class="lead" style="font-family:'Nanum Myeongjo'">대처방안 및 <br class="mb_line_break">판례 </h1></a>
                  <span class="sub">캐치프레이즈 또는 설명</span>
                </div>

              </div>

          </div>
        </header>


    <!-- ========== Portfolio ========== -->

        <section class="container-fluid portfolio-layout portfolio-columns-fw" style="margin-top:0px;padding-right:0px;padding-left:0px">
          <div class="tabs">
          <div class="row" style="padding-top:60px;padding-bottom:60px">
            <ul class="portfolio-filters">
              <li class="active"><a href="#tabs-1">대표 사례</a></li>
              <li><a href="#tabs-2">주요 판례</a></li><br class="mb_line_break">
            </ul>
            <div id="tabs-1">
              <div class="col-md-6 col-md-offset-3 portfolio-item num_1" style="min-height:0px">
               <header class="sec-heading" style="margin-bottom:0px">
                 <h3 class="lead">노동관련 법률</h3>
                   <p style="margin-top:30px;padding-left:15px;padding-right:15px" class="sub_sub">
                   <span style="color:#111;font-weight:bold"><i class="fa fa-book"></i>정의 - (형법 제307조)</span><br>
                   공연히 사실 또는 허위의 사실을 적시하여 사람의 명예를 훼손함으로써 성립한다<br>
                   <span style="color:#111;font-weight:bold"><i class="fa fa-gavel"></i>처벌</span><br>
                     <span style="color:#111;font-weight:bold">-공연히 진실한 사실을 적시한 경우-</span><br>
                     <strong>2년 이하</strong>의 징역이나 금고 또는 <strong>500만 원</strong> 이하의 벌금, <br>
                     <span style="color:#111;font-weight:bold">-공연히 허위의 사실을 적시한 경우-</span>
                     <br> 가중되어 <strong>5년 이하</strong>의 징역이나 10년 이하의 자격정지 또는 <strong>1000만 원</strong> 이하의 벌금.</p>
               </header>
              </div>

         <div class="tabs" class="row">
             <div class="col-md-12 portfolio-item default">
              <!-- ========== Feature - Tabs ========== -->
               <section id="offer" style="padding-top:60px;background:#f8f8f8" class="section ft-centered">
                 <ul class="portfolio-filters">
                   <li class="active"><a href="#case-1">사례1</a></li>
                   <li><a href="#case-2">사례2</a></li><br class="mb_line_break">
                   <li><a href="#case-3">사례3</a></li>
                   <li><a href="#case-4">사례4</a></li><br class="mb_line_break">
                   <li><a href="#case-5">사례5</a></li>
                 </ul>
                 <header class="sec-heading">
                   <h2 style="font-weight:400" class="lead">요건론</h2>

                 </header>

                 <div class="row">

                   <!-- Item 1 -->
                   <div class="col-md-4 mb-sm-50 ft-item ft-dark-spin wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 0.6s; animation-delay: 0.3s; animation-name: zoomIn;">
                     <span class="fa fa-users"></span>
                     <h5>주요특징1</h5>
                   </div>

                   <!-- Item 2 -->
                   <div class="col-md-4 col-sm-6 mb-sm-50 ft-item ft-dark-spin wow zoomIn" data-wow-duration=".6s" style="visibility: visible; animation-duration: 0.6s; animation-name: zoomIn;">
                     <span class="fa fa-crosshairs fa-lg"></span>
                     <h5>주요특징2</h5>
                   </div>

                   <!-- Item 3 -->
                   <div class="col-md-4 col-sm-6 mb-sm-50 ft-item ft-dark-spin wow zoomIn" data-wow-duration=".6s" style="visibility: visible; animation-duration: 0.6s; animation-name: zoomIn;">
                     <span class="fa fa-thumbs-down"></span>
                     <h5>주요특징3</h5>
                   </div>

                 </div><!-- / .row -->
               </section>
                   <!-- ========== Feature Text + Big Image ========== -->

                   <div id="condition_1" class="container-fluid ft-big-img-right">
                     <div class="row">
                       <div class="col-md-12" style="text-align:center">
                       <p style="margin-top:30px;padding-left:15px;padding-right:15px;" class="sub_sub">아래 내용은 <strong>일반적인 정보</strong>를 제공할 목적으로 작성되었습니다. <br>
       해당 내용을 근거로 하여, 어떠한 법률적 조치를 취하기에 앞서
       반드시 <strong>변호사에게 실질적인 자문</strong>을 구하시기 바랍니다.<br>
       법률 자문 없이 상기 정보로 인하여 문제가 발생함으로써
       손해를 입게 되었다고 해도, 어떠한 법적 책임도 지지 않는다는 것을 알려드립니다.</p>
       </div>

                       <!-- Case1 -->
                       <div id="case-1">
                         <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                           <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">사례1 <small>case1</small></h1>
                           <br>
                           <h4 style="line-height:1.5em" class="sub_sub">첫 번째 대표사례는~</h4>
                         </div><!-- / .col-md-6 -->

                         <!-- Image -->
                         <div class="col-md-7 ft-img-container" style="margin-top:0px">
                           <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                         </div><!-- / .col-md-6 -->

                         <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                           <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">대처방안 <small>solution</small></h1>
                           <br>
                           <h4 style="line-height:1.5em" class="sub_sub">사례1에 대한 대처방안</h4>
                         </div><!-- / .col-md-6 -->

                         <!-- Image -->
                         <div class="col-md-7 ft-img-container" style="margin-top:0px">
                           <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                         </div><!-- / .col-md-6 -->
                       </div>

                       <!-- Case1 -->
                       <div id="case-2">
                         <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                           <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">사례2 <small>case1</small></h1>
                           <br>
                           <h4 style="line-height:1.5em" class="sub_sub">두 번째 대표사례는~</h4>
                         </div><!-- / .col-md-6 -->

                         <!-- Image -->
                         <div class="col-md-7 ft-img-container" style="margin-top:0px">
                           <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                         </div><!-- / .col-md-6 -->

                         <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                           <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">대처방안 <small>solution</small></h1>
                           <br>
                           <h4 style="line-height:1.5em" class="sub_sub">사례2에 대한 대처방안</h4>
                         </div><!-- / .col-md-6 -->

                         <!-- Image -->
                         <div class="col-md-7 ft-img-container" style="margin-top:0px">
                           <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                         </div><!-- / .col-md-6 -->
                       </div>
                     </div><!-- / .row -->
                   </div><!-- / .container-fluid -->

                 </div><!-- default row -->
               </div>
             </div><!-- tabs-1-->

             <div id="tabs-2">

          <div class="tabs" class="row">
              <div class="col-md-12 portfolio-item default">
                <div class="col-md-6 col-md-offset-3 portfolio-item num_1" style="min-height:0px">
                 <header class="sec-heading" style="margin-bottom:0px">
                   <h3 class="lead">주요 판례</h3>
                   <ul class="portfolio-filters">
                     <li class="active"><a href="#case-1">판례1</a></li>
                     <li><a href="#case-2">판례2</a></li><br class="mb_line_break">
                     <li><a href="#case-3">판례3</a></li>
                     <li><a href="#case-4">판례4</a></li><br class="mb_line_break">
                     <li><a href="#case-5">판례5</a></li>
                   </ul>
                 </header>
                </div>
               <!-- ========== Feature - Tabs ========== -->
                    <!-- ========== Feature Text + Big Image ========== -->

                    <div id="condition_1" class="container-fluid ft-big-img-right">
                      <div class="row">
                        <!-- Case1 -->
                        <div id="case-1">
                          <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                            <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">사례1 <small>case1</small></h1>
                            <br>
                            <h4 style="line-height:1.5em" class="sub_sub">첫 번째 대표사례는~</h4>
                          </div><!-- / .col-md-6 -->

                          <!-- Image -->
                          <div class="col-md-7 ft-img-container" style="margin-top:0px">
                            <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                          </div><!-- / .col-md-6 -->

                          <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                            <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">대처방안 <small>solution</small></h1>
                            <br>
                            <h4 style="line-height:1.5em" class="sub_sub">사례1에 대한 대처방안</h4>
                          </div><!-- / .col-md-6 -->

                          <!-- Image -->
                          <div class="col-md-7 ft-img-container" style="margin-top:0px">
                            <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                          </div><!-- / .col-md-6 -->
                        </div>

                        <!-- Case1 -->
                        <div id="case-2">
                          <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                            <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">사례2 <small>case1</small></h1>
                            <br>
                            <h4 style="line-height:1.5em" class="sub_sub">두 번째 대표사례는~</h4>
                          </div><!-- / .col-md-6 -->

                          <!-- Image -->
                          <div class="col-md-7 ft-img-container" style="margin-top:0px">
                            <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                          </div><!-- / .col-md-6 -->

                          <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                            <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">대처방안 <small>solution</small></h1>
                            <br>
                            <h4 style="line-height:1.5em" class="sub_sub">사례2에 대한 대처방안</h4>
                          </div><!-- / .col-md-6 -->

                          <!-- Image -->
                          <div class="col-md-7 ft-img-container" style="margin-top:0px">
                            <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                          </div><!-- / .col-md-6 -->
                        </div>
                      </div><!-- / .row -->
                    </div><!-- / .container-fluid -->

                  </div><!-- default row -->
                </div>
              </div><!-- tabs-2-->

          </div><!-- / rows -->
        </div><!-- #tabs -->
    </section><!-- / .portfolio-columns-fw -->



 <script src="/assets/js/vendor/isotope.min.js"></script>



<script>
/*
            $('.num_2').hide();
            $('.num_3').hide();
            $('.num_4').hide();
            $('.second_page').hide();
            $('.third_page').hide();
            $('#tag_game').hide();
            $('#li_mh').attr('class','active');
            $('#go_mh').on('click',function(event){
              $('.num_2').hide();
              $('.num_3').hide();
              $('.num_4').hide();
              $('.num_1').show();
              $('.first_page').show();
              $('.second_page').hide();
              $('.third_page').hide();
              $('#li_my').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_mh').attr('class','active');
            })
            $('#go_my').on('click',function(event){
              $('.num_1').hide();
              $('.num_3').hide();
              $('.num_4').hide();
              $('.num_2').show();
              $('.first_page').show();
              $('.second_page').hide();
              $('.third_page').hide();
              $('#li_mh').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_my').attr('class','active');
            })
            $('#go_st').on('click',function(event){
              $('.num_1').hide();
              $('.num_2').hide();
              $('.num_4').hide();
              $('.num_3').show();
              $('.first_page').hide();
              $('.third_page').hide();
              $('.second_page').show();
              $('#li_mh').attr('class','');
              $('#li_my').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_st').attr('class','active');
            })
            $('#go_etc').on('click',function(event){
              $('.num_1').hide();
              $('.num_2').hide();
              $('.num_3').hide();
              $('.num_4').show();
              $('.first_page').hide();
              $('.second_page').hide();
              $('.third_page').show();
              $('#li_mh').attr('class','');
              $('#li_my').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','active');
            })

            $('#sub_game').on('click',function(event){
              $('.portfolio-item.default').hide();
              $('#tag_community').hide();
              $('#tag_sns').hide();
              $('#tag_game').show();
              $('#li_sub_mh').attr('class','');
              $('#li_com').attr('class','');
              $('#li_sns').attr('class','');
              $('#li_game').attr('class','active');
            })
            $('#sub_mh').on('click',function(event){
              $('#tag_community').hide();
              $('#tag_game').hide();
              $('#tag_sns').hide();
              $('.portfolio-item.default').show();
              $('#li_com').attr('class','');
              $('#li_sns').attr('class','');
              $('#li_game').attr('class','');
              $('#li_sub_mh').attr('class','active');
            })
            $('#sub_com').on('click',function(event){
              $('.portfolio-item.default').hide();
              $('#tag_game').hide();
              $('#tag_sns').hide();
              $('#tag_community').show();
              $('#li_sub_mh').attr('class','');
              $('#li_game').attr('class','');
              $('#li_sns').attr('class','');
              $('#li_com').attr('class','active');
            })
            $('#sub_sns').on('click',function(event){
              $('.portfolio-item.default').hide();
              $('#tag_game').hide();
              $('#tag_community').hide();
              $('#tag_sns').show();
              $('#li_sub_mh').attr('class','');
              $('#li_game').attr('class','');
              $('#li_com').attr('class','');
              $('#li_sns').attr('class','active');
            })*/
          </script>
