<style>
 .game_condition .bg-overlay {
  background:none !important
 }
 .game_condition:hover .bg-overlay{
  background:rgba(255, 255, 255, 0.16) !important

 }
 .row {
   margin-left: 0px;
   margin-right: 0px;
 }
</style>
  <script>
  $( function() {
    $( ".tabs" ).tabs();
  } );
</script>
        <!-- ========== Page Title ========== -->

        <header style="border-bottom: 2px solid gray;
    background: url(http://shartlon.com/wp-content/uploads/2015/09/09059_412_5-7-2009.jpg) no-repeat center center;
    background-size: cover ;
    background-position: 0% 60%;" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row">

                <div class="col-md-12" style="text-align:center">
                  <a href="/qna/index"><h1 class="lead" style="font-family:'Nanum Myeongjo'">대응 방안 및 <br class="mb_line_break">대표 사례(판례) </h1></a>
                  <span class="sub">캐치프레이즈 또는 설명</span>
                </div>

              </div>

          </div>
        </header>


    <!-- ========== Portfolio ========== -->

        <section class="container-fluid portfolio-layout portfolio-columns-fw" style="margin-top:0px;padding-right:0px;padding-left:0px">
          <div class="tabs">
            <div class="row" style="padding-top:60px;padding-bottom:60px">
              <ul class="portfolio-filters">
                <li class="active"><a href="#tabs-1">부당해고 대응 Tip</a></li>
                <li><a href="#tabs-2">권고사직 대응 Tip</a></li>
                <li><a href="#tabs-3">연차별 대응 Tip</a></li>
                <li><a href="#tabs-4">핵심 쟁점</a></li>
              </ul>


            <div id="tabs-1" class="row">
              <div class="col-md-6 col-md-offset-3 portfolio-item num_1" style="min-height:0px">
               <header class="sec-heading" style="margin-bottom:0px">
                 <h3 class="lead">부당해고 대응 Tip</h3>
               </header>
              </div>
                <!-- ========== Features - Cards ========== -->
                <div class="gray-bg container ft-steps-numbers ft-centered condition_tip" style="background:#fff">
                    <div class="row" style="padding-top:60px">
                      <div class="col-md-10 col-md-offset-1">
                        <ul class="list-unstyled hidden">
                          <li><i class="fa fa-check-square-o"></i></li>
                        </ul>

                        <!-- Step 1 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering" style="margin-bottom:100px">
                          <span class="ft-nbr">01</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">근로자 수를 확인하자</p>
                        </div>
                        <div class="col-md-12">
                          <p class="number_desc">
                            부당해고 구제신청을 하기 위해서는 상시 근로자 5인 이상의 사업장에서, 해고를 당한지 3개월 이내에 신청을 하셔야 합니다. 상시 근로자가 5인 미만의 사업장에서는 지방노동청을 통한 부당해고 구제신청을 할 수 없고, 민사소송만 가능합니다. 또한 많은 분들이 6개월 미만의 월급근로자, 수습근로자인 경우에는 해고예고수당을 받지 못한다고 알고 계시는데, 이 경우에는 취업규칙과 다양한 상황을 알아봐야 하기 때문에 노무사 출신 변호사에게 상담을 받아보시는 것이 가장 확실한 방법입니다.
                          </p>
                        </div>

                        <!-- Step 2 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering" style="margin-bottom:100px">
                          <span class="ft-nbr">02</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">부당해고에 해당되는지 확인해보자</p>
                        </div>

                        <div class="col-md-12">
                          <ul class="list-unstyled numbering_list">
                            <li><span><i class="fa fa-check-square-o"></i> 서면통지 위반</span> <br>
                              해고는 근로자에게 심각한 사안인 만큼 절차를 엄격히 따르게 되어 있다. 따라서 서면 통지의 원칙이 엄격하게 지켜지고 있습니다. 만약 서면 통지를 어긴 경우는 부당해고에 확실히 해당하게 됩니다.</li>
                            <li><span><i class="fa fa-check-square-o"></i> 정당한 절차를 위반한 해고</span><br>
                              취업규칙과 근무규칙에 해고절차와 규칙이 명시되어 있는 경우 이를 위반했을 때는 부당해고에 해당하게 됩니다. </li>
                            <li><span><i class="fa fa-check-square-o"></i> 해고금지 기간의 해고</span><br>
                                근로기준법에는 산전 후 휴가기간 및 산업재해 기간에는 해고를 금하고 있습니다. 따라서 위와 같은 기간에 해고를 당하셨다면 부당해고에 해당하게 됩니다.</li>
                            <li><span><i class="fa fa-check-square-o"></i> 용역업체 변경 등에 의한 해고</span><br>
                                단순히 용역업체가 바뀌었다는 이유로 근로계약 종료를 주장한다면 이는 부당해고에 해당한다고 볼 수 있습니다. 근로자는 고용 지속을 기대할 수 있기 때문입니다. 따라서 고용 지속 기대권에 대해서는 노무 전문가와 함께 상담을 하시고 부당해고 여부를 판단하는 것이 좋습니다.</li>
                          </ul>
                        </div>


                        <!-- Step 2 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering" style="margin-bottom:100px">
                          <span class="ft-nbr">03</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">5번까지 계속</p>
                        </div>

                        <div class="col-md-12">
                          <ul class="list-unstyled numbering_list">
                            <li><span><i class="fa fa-check-square-o"></i> 서면통지 위반</span> <br>
                              해고는 근로자에게 심각한 사안인 만큼 절차를 엄격히 따르게 되어 있다. 따라서 서면 통지의 원칙이 엄격하게 지켜지고 있습니다. 만약 서면 통지를 어긴 경우는 부당해고에 확실히 해당하게 됩니다.</li>
                            <li><span><i class="fa fa-check-square-o"></i> 정당한 절차를 위반한 해고</span><br>
                              취업규칙과 근무규칙에 해고절차와 규칙이 명시되어 있는 경우 이를 위반했을 때는 부당해고에 해당하게 됩니다. </li>
                            <li><span><i class="fa fa-check-square-o"></i> 해고금지 기간의 해고</span><br>
                                근로기준법에는 산전 후 휴가기간 및 산업재해 기간에는 해고를 금하고 있습니다. 따라서 위와 같은 기간에 해고를 당하셨다면 부당해고에 해당하게 됩니다.</li>
                            <li><span><i class="fa fa-check-square-o"></i> 용역업체 변경 등에 의한 해고</span><br>
                                단순히 용역업체가 바뀌었다는 이유로 근로계약 종료를 주장한다면 이는 부당해고에 해당한다고 볼 수 있습니다. 근로자는 고용 지속을 기대할 수 있기 때문입니다. 따라서 고용 지속 기대권에 대해서는 노무 전문가와 함께 상담을 하시고 부당해고 여부를 판단하는 것이 좋습니다.</li>
                          </ul>
                        </div>

                        <div class="col-md-12">
                          <h3 class="lawyer_cts_le">부당해고 신고 구제절차</h3>
                          <div class="col-md-12 no-gap">
                            <%= image_tag 'https://placehold.it/800x500?text=자체제작사진', class: 'width_full' %>
                          </div>
                        </div>
                      </div><!-- / .col-md-10 -->



                      <div class="col-md-12 text-center" style="margin-top:30px">
                        <a href="/sue/query" class="btn btn-large lawyer_botton_go">상담하기</a>
                      </div>
                    </div><!-- / .row -->
          		  </div>

            </div><!-- tab1 -->



            <div id="tabs-2" class="row">
              <div class="col-md-6 col-md-offset-3 portfolio-item num_1" style="min-height:0px">
               <header class="sec-heading" style="margin-bottom:0px">
                 <h3 class="lead">권고사직 대응 Tip</h3>
               </header>
              </div>
                <!-- ========== Features - Cards ========== -->
                <div class="gray-bg container ft-steps-numbers ft-centered condition_tip" style="background:#fff">
                    <div class="row" style="padding-top:60px">
                      <div class="col-md-10 col-md-offset-1 text-center">

                        <p class="text-center">
                          <i class="fa fa-exclamation-circle fa-3x text-center" aria-hidden="true"></i><br>
해고사건은 근로자의 입장에서 볼때는 내 인생의 최악의 걸림돌인 경우가 많습니다.<br> 그러나 감정적인 초기대응은 하지 않고, 차분하고 객관적인 시각으로 단계별로 대응하는 것이 바람직한 방향입니다. </p>

                        <!-- Step 1 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering" style="margin-bottom:100px">
                          <span class="ft-nbr">01</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">절대로 사직서를 내지 않는다.</p>
                        </div>
                        <div class="col-md-12">
                          <p class="number_desc">
                            절대로 사직서를 내지 않는다. 때려친다거나 그만둔다는 말도 하지않는다.
                          </p>
                        </div>

                        <!-- Step 2 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering" style="margin-bottom:100px">
                          <span class="ft-nbr">02</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">해고가 있었다는 증거를 수집한다.</p>
                        </div>

                        <div class="col-md-12">
                          <p class="number_desc">
                            - 이메일 문자 카톡 녹음 등으로 대화 - 녹음은 별로 권하지 않습니다. 증거로 채택되기에는 절차가 복잡합니다.
                          </p>
                        </div>

                        <!-- Step 3 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering" style="margin-bottom:100px">
                          <span class="ft-nbr">03</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">문자를 자주 보낸다</p>
                        </div>

                        <div class="col-md-12">
                          <p class="number_desc">
                            물적 증거가 전혀 없다면 해고통지서교부를 요청하는 문자를 자주 보내고 퇴직 증명을 요구하는 카톡 또는 내용증명을 보낸다.
                          </p>
                        </div>

                        <!-- Step 3 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering" style="margin-bottom:100px">
                          <span class="ft-nbr">04</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">9번까지 계속</p>
                        </div>

                        <div class="col-md-12">
                          <p class="number_desc">
                            물적 증거가 전혀 없다면 해고통지서교부를 요청하는 문자를 자주 보내고 퇴직 증명을 요구하는 카톡 또는 내용증명을 보낸다.
                          </p>
                        </div>
                      </div><!-- / .col-md-10 -->

                    </div><!-- / .row -->
          		  </div>
            </div><!-- tab2 -->

            <div id="tabs-3" class="row">
              <div class="col-md-6 col-md-offset-3 portfolio-item num_1" style="min-height:0px">
               <header class="sec-heading" style="margin-bottom:0px">
                 <h3 class="lead">연차별 대응 Tip</h3>
               </header>
              </div>
                <!-- ========== Features - Cards ========== -->
                <div class="gray-bg container ft-steps-numbers ft-centered condition_tip" style="background:#fff">
                    <div class="row" style="padding-top:60px">
                      <div class="col-md-10 col-md-offset-1">

                        <p class="text-center">
                          <i class="fa fa-exclamation-circle fa-3x text-center" aria-hidden="true"></i><br>
                          부당해고 신청을 하면 자신의 커리어에 문제가 생기거나, 재취업을 하는 데 문제는 없을까 걱정이 많이 됩니다.<br> 연차별로 부당해고와 미래를 위해서 어떻게 대응하는 지 알려드리겠습니다.
                        </p>

                        <!-- Step 1 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering numbering_year" style="margin-bottom:100px">
                          <span class="ft-nbr">~3년</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">이직이 더 효과적인 방안일수도</p>
                        </div>
                        <div class="col-md-12">
                          <p class="number_desc">
                            아직 사회초년생이므로 열심히 일하는 것이 법적 분쟁에서 이기는 것보다 중요합니다. 근로자 본인의 문제점을 고민해보고 하루 빨리 과거를 잊고 새로운 직장을 구하는 것이 더 이득이 큽니다. 부당해고 소송을 진행하면 조사 진행과정에서 시간과 비용이 들기 때문에, 새로운 직장을 위해 구직활동을 하는 것이 바람직합니다.
                          </p>
                        </div>

                        <!-- Step 2 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering numbering_year" style="margin-bottom:100px">
                          <span class="ft-nbr">10년</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">증거수집하며 타이밍을 노려라</p>
                        </div>

                        <div class="col-md-12">
                          <p class="number_desc">
                            해고의 증거를 수집하면서 원직복직이나 금전보상을 주장하는 것이 좋습니다. 분쟁에서 이기는 것도 중요하지만 경력관리가 굉장히 중요한 시간입니다. 따라서 변호사 등 대리인을 선임하여 사건을 진행하고 경력이 단절되지 않게 하는 것이 중요합니다.    대기업에서 한직으로 좌천시키며 사직을 유도하는 경우에는 수치스럽다는 생각을 하시기보다 출근하면서 해당 분야에 대한 자기계발을 하는 것이 좋습니다.
                          </p>
                        </div>

                        <!-- Step 3 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering numbering_year" style="margin-bottom:100px">
                          <span class="ft-nbr">20년</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">일단 출근한다</p>
                        </div>

                        <div class="col-md-12">
                          <p class="number_desc">
                            이미 인생의 대부분이 직장에 관련한 것이고 가족부양 문제도 있기 때문에, 충분한 합의금을 요구하시는 것이 좋습니다. 만약 합의기간이 오래 걸리더라도 조금만 더 참는다는 생각을 가지시고 참고 계속 출근하는 것이 좋습니다. 평생직장을 잃은 상실감과 배신감, 분노가 크기 때문에 정신과 상담을 받아보시는 것도 심리적 안정에 도움이 될 것입니다.
                          </p>
                        </div>

                        <!-- Step 3 -->
                        <div class="col-md-12 mb-sm-100 ft-item numbering numbering_year" style="margin-bottom:100px">
                          <span class="ft-nbr">Etc</span>
                          <h4 class="lawyer_invisible">피</h4>
                          <p class="lawyer_cts_le">임신 및 출산예정자</p>
                        </div>

                        <div class="col-md-12">
                          <p class="number_desc">
                            해고가 암시되면, 직접적으로 사측과 대화를 하지말고 억울하다는 이메일을 몇번 보내서 답장을 유도하여 근로자에게 유리한 증거를 확보하는 것이 중요합니다. 증거를 확보하고, 해고일시가 확정되면 노무 전문 변호사를 선임해두고 부당해고 구제신청 후 건강과 태아에 집중하시기 바랍니다. 노동위원회나 법원에서 승소한 경우 복직결정을 받고 산전후휴가와 육아휴직으로 바로 이어지도록 준비해두는 것이 좋습니다. 아이를 열심히 키우신 후 육아휴직이 끝나면 실업급여도 신청을 하시면 됩니다.
                          </p>
                        </div>
                      </div><!-- / .col-md-10 -->

                    </div><!-- / .row -->
          		  </div>
            </div><!-- #tab3-->


            <div id="tabs-4">
              <div class="tabs" class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ========== Feature - Tabs ========== -->
                     <div style="padding-top:60px;" class="ft-centered">
                       <ul class="portfolio-filters">
                         <li class="active"><a href="#case-1">근로자성</a></li>
                         <li><a href="#case-2">서면에 의한 통지</a></li><br class="mb_line_break">
                         <li><a href="#case-3">정당한 절차</a></li>
                         <li><a href="#case-4">정당한 이유</a></li><br class="mb_line_break">
                         <li><a href="#case-5">징계권 남용</a></li>
                       </ul>
                     </div>
                    <!-- Case1 -->
                     <div id="case-1">
                       <div class="col-md-6 col-md-offset-3 portfolio-item num_1" style="min-height:0px">
                         <header class="sec-heading" style="margin-bottom:0px">
                           <h3 class="lead">근로자성</h3>
                             <p style="margin-top:30px;padding-left:15px;padding-right:15px" class="sub_sub">
                             <span style="color:#111;font-weight:bold"><i class="fa fa-book"></i>정의 - (근로기준법 2조 1항)</span><br>근로자란 직업의 종류와 관계없이 임금을 목적으로 사업이나 사업장에 근로를 제공하는 자를 말합니다.
                             </p>
                         </header>
                       </div>

                        <!-- ========== Features - Cards ========== -->
                        <div class="gray-bg container ft-steps-numbers ft-centered condition_tip" style="background:#fff">
                            <div class="row" style="padding-top:60px">
                              <div class="col-md-10 col-md-offset-1">
                                <hr style="margin-top:40px;margin-bottom:40px;">
                                <div class="col-md-12 no-gap text-center">
                                  <h3 class="lead">요건론</h3>
                                  <p style="margin-top:30px;margin-bottom:30px;padding-left:15px;padding-right:15px" class="sub_sub">
                                  근로기준법상 근로자에 대하여 ‘직업의 종류와 관계없이 임금을 목적으로 사업이나 사업장에 근로를 제공하는 자’라고 정의하고 있습니다.
                                  </p>
                                </div>
                                <div class="col-md-6 col-md-offset-3 text-left">
                                  <ul class="list-unstyled numbering_list">
                                    <li><span><i class="fa fa-check-square-o"></i> 고용자의 명령을 받고 임금을 받고 일하는지</span></li>
                                    <li><span><i class="fa fa-check-square-o"></i> 근무 작업 장소를 지정하는지</span></li>
                                    <li><span><i class="fa fa-check-square-o"></i> 복무 및 취업 규정의 적용을 받는지</span></li>
                                    <li><span><i class="fa fa-check-square-o"></i> 고용자가 독립하여 다른 사업을 하였는지 </span></li>
                                    <li><span><i class="fa fa-check-square-o"></i> 제 3자를 고용하여 맡겨진 업무를 따로 처리하였는 지</span></li>
                                  </ul>
                                </div>
                                <div class="col-md-12">
                                  <ul class="list-unstyled numbering_list">
                                    <li>등의 여부에 따라서 근로자성이 결정됩니다. 따라서 출근 시간과 출근 시간과 업무시간 및 업무 장소의 지정, 사실상 다른 사업장에 대한 노무 제공 가능성의 제한, 고용으로 인한 본연 업무로 고용주로부터 받는 수입이 주요 수입임을 증명하는 자료 등을 수집합니다. </li>
                                  </ul>
                                </div>

                                <div class="col-md-12">
                                  <hr style="margin-top:80px;margin-bottom:80px;">
                                </div>

                                <div class="col-md-12 no-gap text-center">
                                  <h3 class="lead">사례</h3>
                                  <p style="margin-top:30px;padding-left:15px;padding-right:15px" class="sub_sub">
                                  지노위에서 해결된 대표 사례입니다.
                                  </p>
                                </div>
                                <!-- Step 1 -->
                                <div class="col-md-12 mb-sm-100 ft-item numbering" style="margin-bottom:100px">
                                  <span class="ft-nbr">01</span>
                                  <h4 class="lawyer_invisible">피</h4>
                                  <p class="lawyer_cts_le">사례1(한문장 정의 필요)</p>
                                </div>
                                <div class="col-md-12">
                                  <p class="number_desc">
                                    (2012부해2636)통학버스 계약을 맺고 상부로부터 지시를 받았고, 제 3자로부터 수익을 위한 행위를 하지 않았다는 점에서 근로자성을 인정하여 부당해고임을 인정한 사례입니다. 상부로부터 구체적인 지시를 받았는 지 여부와, 주수입원이 단일하다는 것을 입증하셔야 근로자성을 쉽게 인정받을 수 있습니다.
                                  </p>
                                </div>
                                <div class="col-md-12">
                                  <hr style="margin-top:80px;margin-bottom:80px;">
                                </div>
                                <div class="col-md-12 no-gap text-center" >
                                  <h3 class="lead">판례</h3>
                                  <p style="margin-top:30px;padding-left:15px;padding-right:15px" class="sub_sub">
                                    고등 및 대법원 사건의 판례입니다.
                                  </p>
                                </div>
                                <!-- Step 1 -->
                                <div class="col-md-12 mb-sm-100 ft-item numbering numbering_year" style="margin-bottom:50px">
                                  <span class="ft-nbr">쟁점</span>
                                  <h4 class="lawyer_invisible">피</h4>
                                  <p class="lawyer_cts_le lawyer_cts_le_long">캐디피가 주수입원인 골프장 캐디가 골프장에 고용된 근로자라고 볼 수 있는지</p>
                                </div>
                                <div class="col-md-12">
                                  <p class="number_desc">
                                    (서울 고등법원2012나83515)
골프장이 캐디의 경기진행 업무 등을 지휘 감독하고 있고, 캐디는 종속관계에서 골프장에 노동력을 제공하고 있기 때문에 근로자라고 인정한 사례입니다. 또한 캐디의 주수입원인 캐디피는 골프장에서 캐디로서 일하는 것이기 때문에 근로자라고 인정되는 케이스입니다.
                                  </p>
                                </div>
                              </div><!-- / .col-md-10 -->



                              <div class="col-md-12 text-center" style="margin-top:30px">
                                <a href="/sue/query" class="btn btn-large lawyer_botton_go">상담하기</a>
                              </div>
                            </div><!-- / .row -->
                  		  </div>
                     </div><!-- case-1 -->

                     <!-- Case1 -->
                     <div id="case-2">
                       <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                         <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">사례2 <small>case1</small></h1>
                         <br>
                         <h4 style="line-height:1.5em" class="sub_sub">두 번째 대표사례는~</h4>
                       </div><!-- / .col-md-6 -->

                       <!-- Image -->
                       <div class="col-md-7 ft-img-container" style="margin-top:0px">
                         <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                       </div><!-- / .col-md-6 -->

                       <div style="<% unless browser.ie? %><%='margin-top:100px'%><% end %>" class="col-md-offset-1 col-md-4 mb-sm-50 ft-content wow fadeIn condition_monitor" data-wow-duration="2s">
                         <h1 style="display:inline-block;border-bottom:3px solid #2D4E98" class="lead">대처방안 <small>solution</small></h1>
                         <br>
                         <h4 style="line-height:1.5em" class="sub_sub">사례2에 대한 대처방안</h4>
                       </div><!-- / .col-md-6 -->

                       <!-- Image -->
                       <div class="col-md-7 ft-img-container" style="margin-top:0px">
                         <img src="<%= image_path('condition_1.png') %>" alt="Definity - HTML Template" class="ft-img wow fadeInRight" data-wow-duration="1.5s">
                       </div><!-- / .col-md-6 -->
                     </div>

                </div><!-- default row -->
              </div><!-- sub_tab -->
            </div><!-- tabs-4-->


          </div><!-- / rows -->
        </div><!-- .tabs -->
    </section><!-- / .portfolio-columns-fw -->


<script>
/*
            $('.num_2').hide();
            $('.num_3').hide();
            $('.num_4').hide();
            $('.second_page').hide();
            $('.third_page').hide();
            $('#tag_game').hide();
            $('#li_mh').attr('class','active');
            $('#go_mh').on('click',function(event){
              $('.num_2').hide();
              $('.num_3').hide();
              $('.num_4').hide();
              $('.num_1').show();
              $('.first_page').show();
              $('.second_page').hide();
              $('.third_page').hide();
              $('#li_my').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_mh').attr('class','active');
            })
            $('#go_my').on('click',function(event){
              $('.num_1').hide();
              $('.num_3').hide();
              $('.num_4').hide();
              $('.num_2').show();
              $('.first_page').show();
              $('.second_page').hide();
              $('.third_page').hide();
              $('#li_mh').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_my').attr('class','active');
            })
            $('#go_st').on('click',function(event){
              $('.num_1').hide();
              $('.num_2').hide();
              $('.num_4').hide();
              $('.num_3').show();
              $('.first_page').hide();
              $('.third_page').hide();
              $('.second_page').show();
              $('#li_mh').attr('class','');
              $('#li_my').attr('class','');
              $('#li_etc').attr('class','');
              $('#li_st').attr('class','active');
            })
            $('#go_etc').on('click',function(event){
              $('.num_1').hide();
              $('.num_2').hide();
              $('.num_3').hide();
              $('.num_4').show();
              $('.first_page').hide();
              $('.second_page').hide();
              $('.third_page').show();
              $('#li_mh').attr('class','');
              $('#li_my').attr('class','');
              $('#li_st').attr('class','');
              $('#li_etc').attr('class','active');
            })

            $('#sub_game').on('click',function(event){
              $('.portfolio-item.default').hide();
              $('#tag_community').hide();
              $('#tag_sns').hide();
              $('#tag_game').show();
              $('#li_sub_mh').attr('class','');
              $('#li_com').attr('class','');
              $('#li_sns').attr('class','');
              $('#li_game').attr('class','active');
            })
            $('#sub_mh').on('click',function(event){
              $('#tag_community').hide();
              $('#tag_game').hide();
              $('#tag_sns').hide();
              $('.portfolio-item.default').show();
              $('#li_com').attr('class','');
              $('#li_sns').attr('class','');
              $('#li_game').attr('class','');
              $('#li_sub_mh').attr('class','active');
            })
            $('#sub_com').on('click',function(event){
              $('.portfolio-item.default').hide();
              $('#tag_game').hide();
              $('#tag_sns').hide();
              $('#tag_community').show();
              $('#li_sub_mh').attr('class','');
              $('#li_game').attr('class','');
              $('#li_sns').attr('class','');
              $('#li_com').attr('class','active');
            })
            $('#sub_sns').on('click',function(event){
              $('.portfolio-item.default').hide();
              $('#tag_game').hide();
              $('#tag_community').hide();
              $('#tag_sns').show();
              $('#li_sub_mh').attr('class','');
              $('#li_game').attr('class','');
              $('#li_com').attr('class','');
              $('#li_sns').attr('class','active');
            })*/
          </script>
