<%= render "main/front" %>

 <!-- ========== Page Title ========== -->

        <header style="border-bottom: 2px solid gray;padding: 200px 0px 80px 0px;
    background: url(<%= image_path('lawyer_group.png') %>) no-repeat center center;
    background-size: cover;
    background-position: 58% 30%" class="page-title pt-large pt-dark pt-plax-lg-dark">
          <div class="container">
              <div class="row">
                <div class="col-md-12" style="text-align:center">
                  <h1 class="lead" style="font-family:'Nanum Myeongjo'">변호사 소개</h1>
                  <span class="sub">"여러분과 처음부터 끝까지 함께합니다"</span>
                </div>
              </div>

            </div>
        </header>

 <!-- ========== Team Layout - 4 Columns ========== -->

        <div class="gray-bg" style="background:#e8e8e8">
          <section class="section team-4col" style="padding-top:60px">
            <div class="row blog-classic">

              <!-- Blog Post 1 -->
              <div class="col-md-6 portfolio-item game">
                <div class="blog-post" style="background:#fff;margin-bottom:30px">
                  <!-- Image -->
                  <div class="bp-content" style="padding-bottom:25px;">

                  <div class="row">
                    <div class="col-md-4" style="text-align:center">
                      <img style="border-radius:100px;border:10px solid #f8f8f8;" src="<%= image_path('ryu_1.png') %>">
                    </div>

                   <div class="col-md-8 sidebar">
                      <h3 style="display:inline-block"><i class="fa fa-suitcase"></i> 류태근 변호사</h3>

                      <h4 style="margin-bottom:25px;margin-top:25px;">"법률서비스 선도에 앞장서겠습니다"</h4>

                      <div class="col-md-12 ws-s tags-widget" style="display: inline-block;padding-left:0px;padding-bottom: 5px;">
                        <a href="/main/류태근 변호사" style="color:black;font-size:1em;"><i class="fa fa-share-square-o"></i>프로필 보기</a>
                      </div>
                    </div>

                  </div>
                  </div>
                </div><!-- / .bp-content -->

                </div><!-- / .blog-post -->

                <!-- Blog Post 2 -->
                <div class="col-md-6 portfolio-item game">
                  <div class="blog-post" style="background:#fff;margin-bottom:30px">

                    <!-- Image -->

                    <div class="bp-content" style="padding-bottom:25px;">

                    <div class="row">
                      <div class="col-md-4" style="text-align:center">
                        <img style="border-radius:100px;border:10px solid #f8f8f8;" src="<%= image_path('son_1.png')%>">
                      </div>

                     <div class="col-md-8 sidebar">
                        <h3 style="display:inline-block"><i class="fa fa-suitcase"></i> 손수혁 변호사  </h3>

                          <h4 style="margin-bottom:25px;margin-top:25px">"법률서비스 선도에 앞장서겠습니다"</h4>

                        <div class="col-md-12 ws-s tags-widget" style="display: inline-block;padding-left:0px;padding-bottom: 5px;">
                          <a href="/main/손수혁 변호사" style="color:black;font-size:1em;"><i class="fa fa-share-square-o"></i>프로필 보기</a>
                        </div>
                      </div>

                      </div>
                    </div>
                  </div><!-- / .bp-content -->
                </div><!-- / .blog-post -->
            </div><!-- / .row blog-classic-->



            <div class="row blog-classic">

              <!-- Blog Post 3 -->
              <div class="col-md-6 portfolio-item game">
                <div class="blog-post" style="background:#fff;margin-bottom:30px">

                  <!-- Image -->

                  <div class="bp-content" style="padding-bottom:25px;">

                  <div class="row">
                    <div class="col-md-4" style="text-align:center">
                      <img style="border-radius:100px;border:10px solid #f8f8f8;" src="<%= image_path('park_1.png') %>">
                    </div>

                   <div class="col-md-8 sidebar">
                      <h3 style="display:inline-block"><i class="fa fa-suitcase"></i> 박건일 변호사  </h3>

                        <h4 style="margin-bottom:25px;margin-top:25px;">"법률서비스 선도에 앞장서겠습니다"</h4>

                      <div class="col-md-12 ws-s tags-widget" style="display: inline-block;padding-left:0px;padding-bottom: 5px;">
                        <a href="/main/박건일 변호사" style="color:black;font-size:1em;"><i class="fa fa-share-square-o"></i>프로필 보기</a>
                      </div>

                    </div>

                  </div>


                  </div>
                </div><!-- / .bp-content -->

                </div><!-- / .blog-post -->

                <!-- Blog Post 4 -->
                <div class="col-md-6 portfolio-item game">
                  <div class="blog-post" style="background:#fff;margin-bottom:30px">

                    <!-- Image -->

                    <div class="bp-content" style="padding-bottom:25px;">

                    <div class="row">
                      <div class="col-md-4" style="text-align:center">
                        <img style="border-radius:100px;border:10px solid #f8f8f8;" src="<%= image_path('choi_1.png') %>">
                      </div>

                     <div class="col-md-8 sidebar">
                        <h3 style="display:inline-block"><i class="fa fa-suitcase"></i> 최용문 변호사  </h3>

                          <h4 style="margin-bottom:25px;margin-top:25px">"법률서비스 선도에 앞장서겠습니다"</h4>

                        <div class="col-md-12 ws-s tags-widget" style="display: inline-block;padding-left:0px;padding-bottom: 5px;">
                          <a href="/main/최용문 변호사" style="color:black;font-size:1em;"><i class="fa fa-share-square-o"></i>프로필 보기</a>
                        </div>
                      </div>

                    </div>


                    </div>
                  </div><!-- / .bp-content -->

                  </div><!-- / .blog-post -->
            </div><!-- / .row blog-classic-->
          </section><!-- / .contianer -->
        </div><!-- / gray-bg -->
