<%dbdb=Sueform.find(params[:id])%>
<%= render 'sue/forward' %>

<section class="container" id="main" style="padding-bottom:0px">

<!-- Start Survey container -->
<div id="survey_container" style="margin-top:100px">
<style>
.ui-widget-header {
    background: #CFD20C;
}
</style>
	<style>
    .styled-select {
    border: 2px solid rgb(136, 130, 125) !important;  
    background-color:white !important;
    }
    .styled-select select {
    border: none !important;
    }
    		
    		
    input.form-control, textarea.form-control {
    border: 2px solid rgb(136, 130, 125); 
    background-color: white !important;
    }
    		    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
    }

    .strike > span {
        position: relative;
        display: inline-block;
    }
	
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: #777;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }
    </style>


  	<div id="top-wizard" style="background-color:#402E1F">
  		<strong style="color:white">Progress<span id="location"></span></strong>
  		<div id="progressbar"></div>
  		<div class="shadow"></div>
  	</div><!-- end top-wizard -->
 						
 
    <!--첨부파일 끝-->
    <form class="new_test" id="police_form" enctype="multipart/form-data"  action="/sue/create1/<%=params[:id]%>" accept-charset="UTF-8" method="post">
    <!--첨부파일-->
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <!--sorting 실험 -->    
<!-- sorting 실험 끝 -->
    
    	<div id="middle-wizard">
    	  
    	  
    	 
    	  
    	  <div class="step">
    	    <div class="row">
    				<h3 class="col-md-10" style="margin-top:0px;margin-bottom:30px">모욕을 당한 SNS를 선택해 주세요</h3>
    				
    				<div class="col-md-10">
    					<ul class="data-list floated clearfix">
    					    <li style="margin-bottom:22px;width:100%" id="all_not" class="goods goods_select">
    					         <input name="evidence" type="radio" class="check_radio" value="off" required>
    					         <label style="font-size:2em;font-weight:400"class="label_gender">돈을 모두 돌려받지 못한 경우</label>
    					    </li>
    					   
    					    <li style="margin-bottom:22px;width:100%" id="some_not" class="goods goods_select">
    					         <input name="evidence" type="radio" class="check_radio" value="off" required>
    					         <label style="font-size:2em;font-weight:400" class="label_gender">돈을 일부 변제한 경우</label>
    					    </li>
    					</ul>
    				</div><!-- end col-md-10 -->
    			</div>
    	  </div>
    	  
    	 <script>
    	  $(window).load(function(){
    	   
    	    
    	    $('.goods').find('ins').on('click', function(event){
    	      
    	      if ($('#all_not').find('div').hasClass('checked')){
    	        $('.loan_num').hide();
    	        $('#after_num').hide();
    	      }
    	      
    	      else {
    	        $('.loan_num').show();
    	        $('#after_num').show();
    	      }
            
    	    })
    	   
    	  })  
    	  </script>
    	  
    		<div class="step">
          <p style="text-align:center">*합의금을 목적으로 하는 고소라 판단될 경우 고소인이 처벌 받을 수 있고, 사안이 경미한 경우 고소가 각하될 수 있습니다 </p>    
    			<div class="row">
    				<h3 class="col-md-10">피고소인 정보</h3>
    				
    				<div class="col-md-6">
    					<ul class="data-list">
    						<li>
    						    <input type="text" style="margin-bottom:10px" name="you_id" id="input2" class="combine  form-control" placeholder="상대방의 이름 또는 닉네임을 입력해주세요 ex)홍길동">
    						</li>
    						
                            <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    				
    				<div class="col-md-6">
    					<ul class="data-list">
    						<li><input type="text" maxlength="13" style="margin-bottom: 25px;" name="you_phone" class="form-control cellPhone" placeholder="연락처"></li>
                            <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    			</div>
    			<div class="row">
    				<h3 class="col-md-10">피고소인 주소</h3> 
    				<div class="col-md-6">
    					<ul class="data-list">
    						<li><input type="text" name="post_code" onclick="sample6_execDaumPostcode()" class="form-control" type="text" id="you_sample6_postcode" readonly placeholder="우편번호"></li>
    						<li><input onclick="sample6_execDaumPostcode()" class="  form-control" name="address1" type="text" id="you_sample6_address" placeholder="주소"></li>
    						
                  <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    				<div class="col-md-6">
    					<ul class="data-list">
    						<li><input type="text" name="firstname" style="visibility:hidden" class="form-control" placeholder=""></li>
    						<li><input class="form-control" type="text"  name="address2" id="you_sample6_address2" placeholder="상세주소"></li>
                            <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
                        
    				</div><!-- end col-md-6 -->
    			</div>
    			
    			
    			<div class="row">
    				<div class="col-md-6">
    				  <h3 style="padding-right:0px; padding-left:0px;" class="col-md-12">고소인 정보</h3>
    					<ul class="data-list">
    						<li><input type="text"  name="my_name" id="input3" class="combine form-control" placeholder="본인의 이름을 입력해 주세요."></li>
    						<li><input type="text" maxlength="13" style="margin-bottom: 25px;" name="my_phone" class="form-control cellPhone" placeholder="휴대폰 번호"></li>
                            <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    				
    				<div class="col-md-6">
    				  <h3 style="padding-right:0px; padding-left:0px;" class="col-md-12">생년월일</h3>
    					<ul class="data-list floated clearfix">
    					  <div class="col-md-12" style="padding-right:0px;padding-left:0px;/* margin-bottom:25px; */">
    					  <div style="padding-right:0px;padding-left:0px;/* margin-bottom: 0px; */" class="col-md-4">
    						<li style="width:100%;margin-bottom: 25px;" class="styled-select">
        						    <select style="margin-bottom: 25px;font-weight:300;padding-left: 15px;" name="birth_year" id="year"class="form-control">
                                        <option value="">연도</option>
                        </select>
    						</li>
    						</div>
    						<script>
    						  var year = document.getElementById('year');
    						  for(var i = 0;i<100;i++){
    						    a =  document.createElement('option');
    						    a.value = 2015-i;
    						    a.innerText = 2015-i + '년';
    						    year.appendChild(a);
    						  }
    						</script>
    					  <div style="/* margin-bottom: 25px; */padding-right:0px;" class="col-md-4">
    						<li style="width:100%;margin-bottom: 25px;" class="styled-select">
        						    <select style="font-weight:300" name="birth_month"id="month" class="form-control">
                                        <option value="">월</option>
                        </select>
    						</li>
    						</div>
    						<script>
    						  var month = document.getElementById('month');
    						  for(var i = 1;i<13;i++){
    						    a =  document.createElement('option');
    						    a.value = i;
    						    a.innerText = i + '월';
    						    month.appendChild(a);
    						  }
    						</script>
    						<div style="/* margin-bottom: 25px; */padding-right:0px;" class="col-md-4">
    						<li style="width:100%;margin-bottom: 25px;" class="styled-select">
        						    <select style="font-weight:300" id="day" name="birth_day" class="form-control">
                                        <option value="">일</option>
                        </select>
    						</li>
    						</div>
    						<script>
    						  var day = document.getElementById('day');
    						  for(var i = 1;i<32;i++){
    						    a =  document.createElement('option');
    						    a.value = i;
    						    a.innerText = i + '일';
    						    day.appendChild(a);
    						  }
    						</script>
    						</div>
    					</ul>
    				</div><!-- end col-md-6 -->
    			</div>    					
    			
    			
    			
    				<div class="row">
    				<h3 class="col-md-10">주소</h3> 
    				<div class="col-md-6">
    					<ul class="data-list">
    						<li><input type="text" name="post_code" onclick="sample6_execDaumPostcode()" class="form-control" type="text" id="sample6_postcode" readonly placeholder="우편번호"></li>
    						<li><input onclick="sample6_execDaumPostcode()" class="  form-control" name="address1" type="text" id="sample6_address" placeholder="주소"></li>
    						
                  <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
                    
    				<div class="col-md-6">
                    
    					<ul class="data-list">
    						<li><input type="text" name="firstname" style="visibility:hidden" class="form-control" placeholder=""></li>
    						<li><input class="form-control" type="text"  name="address2" id="sample6_address2" placeholder="상세주소"></li>
                            <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
                        
    				</div><!-- end col-md-6 -->
    			</div>
    			
    			
    			
    			
    			<div class="row">
    				<h3 class="col-md-10">담당 관서 
    				<a style="text-align:center" class="btn btn-primary" onclick="open5();">
    				   <i class="fa fa-search fa-lg"></i>담당관서 검색</a></h3> 
    				
    				<script>
    				   
    				    function open5(){
    				                    alert('도로명 주소로 검색해 주세요');
                                        window.open('http://www.police.go.kr/portal/bbs/list.do?bbsId=B0000132&option1=1&menuNo=200223', '_blank', 'width=800, height=1000, resizable=no');
                                        
                                    }
    				</script>
    				  <div class="col-md-6">
    				      <ul class="data-list">
    						<li>
    							<input type="text"  name="police_name" class="combine form-control" placeholder="자신의 주소에 맞는 담당관서 검색 후 작성 해주세요.">
    						</li>
    					  </ul>
    			    </div>
    			</div>
    			
    			
    			<div class="row">
    				<div class="col-md-4 col-md-offset-4">
    					<ul class="data-list" id="terms">
    						<li>
                            <strong> <a href="#" data-toggle="modal" data-target="#terms-txt">개인정보 취급 방침 및 약관</a>에 동의하십니까? </strong>
                            <label class="switch-light switch-ios ">
                                    <input type="checkbox" name="terms" class="   fix_ie8" value="yes">
                                    <span>
                                        <span class="ie8_hide">No</span>
                                        <span>Yes</span>
                                    </span>
                                    <a></a>
                            </label>
    						</li>
    					</ul>
    				</div>
    			</div>    
    			
    			
    			
    			
    			
                
    		</div><!-- end step-->
        
    			
    			
                <!-- 2 -->
    		<div class="step row">
   
    <script>
        var condition = document.getElementById('condition3');
        condition.onclick= function(){
            window.open('../../main/condition', '_blank'); 
        }
    </script>
          <div class="row">
    				<div class="col-md-6">
    				  <h3 class="col-md-10" style="padding-left:0px">원금</h3>
    					<ul class="data-list">
    						<li>
    						    <input type="text" style="margin-bottom:10px" id="loan_amount" class="form-control" placeholder="거래자와 연락이 된 곳을 적어주세요  ex)중고나라, 네이버 카페 XXX">
    						</li>
    						
                            <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    				
    				
    				<div class="col-md-6">
    				  <h3 class="col-md-10" style="padding-left:0px">변제기</h3>
				        <div class="col-md-10" style="padding-left:0px">
					        <ul class="data-list">
						        <li>
        				        <input type="text" id="remit_date" readonly placeholder="날짜를 입력해주세요" class="combine form-control" name="target_date">
                    </li>
                  </ul>    
                  </div>
                  <div class="col-md-2" style="padding-left: 0px;">
                            <input type="button" style="height:44px" value="달력보기" class="btn btn-warning" onClick="datePicker(event,'target_date')">
                  </div>         
              </div>
    			</div>
    			
        	<div class="row">
    				<div class="col-md-6" >
    				  <h3 style="padding-left:0px" class="col-md-10">약정이자율</h3>
    					<ul class="data-list">
    						<li>
                  <input type="text" id="loan_rate" name="police_name" class="form-control" placeholder="ex) 3일, 3개월 ..">
                </li>
    						<input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    				
    				<div class="col-md-6">
    				  <h3 style="padding-left:0px" class="col-md-10">지연이자율</h3>
    					<ul class="data-list">
    						<li>
                  <input type="text"  id="forgery_amount" name="police_name" class="form-control" placeholder="ex) 3만원, 15만원 ..">
                </li>
    						<input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    			</div>
    			
    			<div class="row" id="after_num">
					<h3 class="col-md-10 wizard-header">변제횟수</h3>
					
                    
					<div class="col-md-6">
						<ul class="data-list">
							<li>
							<div class="qty-buttons">
								<input type="button" id="num_up" value="+" class="qtyplus" name="quantity">
								<input id="quantity"  type="text" name="quantity" value="" class="qty form-control" placeholder="1">
								<input type="button" id="num_down" value="-" class="qtyminus" name="quantity"><span>횟수를 설정해 주세요</span>
							</div>
							</li>
						</ul>
					</div><!-- end col-md-6 -->
				</div>
    		<script>
    		$(window).load(function(){
    		  $('#temporary').hide();
    		  $('#num_up').on('click',function(){
    		      var copy = $('#temporary').clone();
    		      copy.removeAttr('id').addClass('loan_num').show();
              $('#after_num').after(copy);  		      
    		  });
    		  $('#num_down').on('click',function(){
    		      $('.loan_num').last().remove();
    		  });
    		})
    		</script>
    			
    			<div class="row" id="temporary">
    				<div class="col-md-6">
    				  <h3 class="col-md-10" style="padding-left:0px">변제금</h3>
    					<ul class="data-list">
    						<li>
    						    <input type="text" style="margin-bottom:10px" id="sue_place" class="form-control" placeholder="거래자와 연락이 된 곳을 적어주세요  ex)중고나라, 네이버 카페 XXX">
    						</li>
                    <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    				
    				
    				<div class="col-md-6">
    				  <h3 class="col-md-10" style="padding-left:0px">변제기</h3>
				        <div class="col-md-10" style="padding-left:0px">
					        <ul class="data-list">
						        <li>
        				        <input type="text" id="remit_date" readonly placeholder="날짜를 입력해주세요" class="combine form-control" name="target_date">
                    </li>
                  </ul>    
                  </div>
                  <div class="col-md-2" style="padding-left: 0px;">
                            <input type="button" style="height:44px" value="달력보기" class="btn btn-warning" onClick="datePicker(event,'target_date')">
                  </div>         
              </div>
    			</div>
    			
    			<div class="row loan_num">
    				<div class="col-md-6">
    				  <h3 class="col-md-10" style="padding-left:0px">변제금</h3>
    					<ul class="data-list">
    						<li>
    						    <input type="text" style="margin-bottom:10px" id="sue_place" class="form-control" placeholder="거래자와 연락이 된 곳을 적어주세요  ex)중고나라, 네이버 카페 XXX">
    						</li>
                    <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
    					</ul>
    				</div><!-- end col-md-6 -->
    				
    				
    				<div class="col-md-6">
    				  <h3 class="col-md-10" style="padding-left:0px">변제기</h3>
				        <div class="col-md-10" style="padding-left:0px">
					        <ul class="data-list">
						        <li>
        				        <input type="text" id="remit_date" readonly placeholder="날짜를 입력해주세요" class="combine form-control" name="target_date">
                    </li>
                  </ul>    
                  </div>
                  <div class="col-md-2" style="padding-left: 0px;">
                            <input type="button" style="height:44px" value="달력보기" class="btn btn-warning" onClick="datePicker(event,'target_date')">
                  </div>         
              </div>
    			</div>
    			
    			
    		
    			
    			<div class="strike">
                <span><a onclick="auto_write_gsm();" id="go_write" style="text-align:center;font-weight:300;" class="btn btn-success">
                    <i class="fa fa-magic fa-lg"></i>소장자동완성</a></span>
          </div>
        		
        		<div id="result" class="row">
        			<h3 class="col-md-10">청구 취지</h3>
        			<div class="col-md-12">
        				<ul class="data-list">
        					<li><div class="form-group">
                                <textarea type="text"  id="sue_context"  name="sue_content" style="height:200px" class=" combine form-control" placeholder="소장자동완성 버튼을 클릭해주세요"></textarea>
                            </div></li>
                            <input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
        			    </ul>
        			</div><!-- end col-md-6 -->
                </div>
                
                <div class="row">
        		    <h3 class="col-md-10">청구 원인</h3>
        			<div class="col-md-12">
        				<ul class="data-list">
        					<li><div class="form-group">
                                <textarea type="text" id="test_sue_reason" name="sue_reason" style="height:150px" class="  form-control" placeholder="">고소인은 피고소인을 모욕죄로 고소하오니 철저한 수사를 하여 의법조치하여 주시기 바랍니다.</textarea>
                            </div></li>
        					<input id="website" name="website" type="text" value="" ><!-- Leave for security protection, read docs for details -->
        				</ul>
        		    </div><!-- end col-md-6 -->
        	    </div>
        	    
        	    
        	    
        	     <div align='center' class="row">
              
              <hr style="margin:15px 0;">
              <div class="row">
        		    <h3 style="margin-top:0px" class="col-md-12">본인 서명</h3>
        			<div class="col-md-12">
        				<ul class="data-list">
              <div>
              <canvas id="canvas" width="200" height="100" style="border:2px solid rgb(136, 130, 125)">
              </canvas>
              <div><a id="id_clear" style="width: 204px;border-radius:0px;text-align:center;font-weight:300;" class="btn btn-success">
              <i class="fa fa-eraser fa-lg"></i>서명 다시하기</a></div>
              </div>
                <div id="copyarea"></div>
        				</ul>
        		    </div><!-- end col-md-6 -->
        	    </div>
        	    
        	    
              
              
            </div><br>
               
                
        	</div>
    			<!-- end step -->
                
			<%= render "sue/submit" %>     
                
    	</div><!-- end middle-wizard -->
            
		<div id="bottom-wizard">
			<button type="button" name="backward" class="backward">이전</button>
			<button type="button" name="forward" class="forward">다음</button>
		</div><!-- end bottom-wizard -->
	</form>
      
</div><!-- end Survey container -->
</section>
<script>
$(document).ready(function(){
 var canvas = document.getElementById('canvas');
 //canvas.width = screen.width;
 var context = canvas.getContext('2d');
 context.lineWidth=2;
 context.lineCap="round";

 $(canvas).bind({"touchstart mousedown": function(event){
  
  event.preventDefault();
  
  if(event.type == 'touchstart'){
   event = event.originalEvent.targetTouches[0];
  }
  
  $(this).data("flag", "1");
  var position = $(this).offset();
  var x = event.pageX - position.left;
  var y = event.pageY - position.top;
  console.log("start x: " + x + ", y: " + y);
  context.beginPath();
  context.moveTo(x,y);

 }, "mousemove touchmove" : function(event) {
  
  event.preventDefault();
  
  if(event.type == 'touchmove'){
   event = event.originalEvent.targetTouches[0];
  }  

  var flag = $(this).data("flag");
  if(flag == 1){
   var position = $(this).offset();
   var x = event.pageX - position.left;
   var y = event.pageY - position.top; 
   
   //console.log("move x: " + x + ", y: " + y);
  }
  context.lineTo(x, y);
  context.stroke();
 }, "mouseup touchend mouseleave" : function(event) {
  
  event.preventDefault();

  console.log("type: " + event.type);
  if(event.type == 'touchend'){
   event = event.originalEvent.changedTouches[0];   
  }   

  $(this).data("flag", "0");
  var position = $(this).offset();
  
  var x = event.pageX - position.left;
  var y = event.pageY - position.top; 
  
  console.log("end: " + x + ", y: " + y);

//  context.lineTo(x, y);
//  context.stroke();
 }
 
 }); 

 $("#id_clear").click(function(){
  canvas.width = canvas.width;
  context.lineWidth=2;
  context.lineCap="round";
 });

 var submit = document.getElementById('go');
 var form = document.getElementById('police_form');
    submit.onclick = function(){
        
        //var imageData = context.getImageData(0,0,canvas.width, canvas.height);
        //var data = imageData.data;
    
      console.log(canvas.width + ": " + canvas.height);
    
      var canvasCopy = document.createElement("canvas");
      var copyContext = canvasCopy.getContext("2d");
      
      var w = 80;
      var h = 50;
      canvasCopy.width = w;
      canvasCopy.height = h;
    
      copyContext.drawImage(canvas, 0, 0, w, h);
    
    
      var pngUrl = canvas.toDataURL();
      var copyPngUrl = canvasCopy.toDataURL();
    
      console.log("원본이미지 사이즈: " + pngUrl.length);
      console.log("스몰이미지 사이즈: " + copyPngUrl.length);
    
      console.log("url type: " + typeof(copyPngUrl));
      console.log("스몰이미지 url: " + copyPngUrl);
      console.log("스몰이미지 url: " + copyPngUrl.replace("data:image/png;base64,", ""));
    
    //  $("<img>", {
    
    //   src: pngUrl
    
    //  }).appendTo("#copyarea");
    
      $("<img>", {
    
       src: copyPngUrl,
       onload: function(){console.log("img loaded..");}
    
      }).appendTo("#copyarea");
      
      delete canvasCopy;
      
      var apclass = document.getElementById('copyarea');
      apclass.firstElementChild.setAttribute('id','sig');
            
        var sig_src = document.getElementById('sig_src');
        var src = apclass.firstElementChild.getAttribute('src');
        sig_src.value = src;
        
        
        var file_check = document.getElementsByClassName('file'); 
        var total = 0;
        /*for (var i = 0;i<file_check.length;i++){
          
           if ( file_check[i].files[0] ) {
             total = total + file_check[i].files[0].size;
              }
        }
       console.log(total);
        if (total > 200000){
            alert('파일 각각의 크기는 3MB를 넘을 수 없습니다');
          }
          else {
            form.submit();
          }
          
          */
          
          
              
      form.submit();  
    }
});
</script>

<%= render "sue/backward_loan" %>

                