<h1> 고소장 관리 페이지 </h1>
<hr>
<style>

</style>
    <div style="border:1px solid">
    총 사건수 : <%= @dbdb.count %>
    
    </div>
<div class="col-md-12" style="margin-top:100px">

      <table class="table" width="90%" cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
        <thead align="center">
          <tr>
            <th>Email(총 고소 횟수)</th>
            <th>사건 유형</th>
            <th>연락처</th>
            <th>관할서</th>
            <th>고소장 보기</th>
            <th>접수 여부(발송 전)</th>
            <th>접수 여부(발송 후)</th>
          </tr>
        </thead>
        <tbody align="center">
          <%@dbdb.reverse_each do |s| %>
              <tr>
                <td class="text-center"><%=s.user.email%>(<%=s.user.sueforms.count%>)<a href="#"></td>
                <td><%= s.law_kind%></td>
                <td><%= s.my_phone%></td>
                <td><%= s.police_name%></td>
                <td><a href="/sue/show/<%=s.id%>">이동</a></td>
                <form action="/main/delivery/<%= s.id %>" method="POST">
                  <td>  
                   <div>
                        <input type="radio" id="radio01" name="delivery" value="before"/>
                        <label for="radio01"><span></span>발송 전</label>
                   </div>
                  </td>
                  <td>
                    <div>
                        <input type="radio" id="radio02" name="delivery" value="after"/>
                        <label for="radio02"><span></span>발송 완료</label>
                    </div>
                    <input type="submit" value="변경">
                  </td>
                </form>
              </tr>
          <%end%>
        </tbody>
      </table>
</div>