<% will_paginate @receive %>
  <% @receive.each do |x| %>
  <%=x.you_nickname %>

  <% end %>
<% will_paginate @receive %>

<!--갯수, 유저 Nickname, email, 가입한 날짜 뽑는 곳-->
<h1> 불만 유저 페이지 </h1>
<hr>
  <div>
    총 신고 횟수 : <%= Receive.count %>
  </div>
<div class="col-md-12" style="margin-top:100px">
    
      <table class="table" width="90%" cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
        <thead>
          <tr>
            <th>신고자</th>
            <th>모욕 장소</th>
            <th>접수 시간</th>
            <th>접수 내용</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>
        <%= will_paginate @receive %>
          <%@receive.reverse_each do |r| %>
              <tr>
                <td class="text-center"><%=r.you_nickname%></td>
                <td><%= r.location %></td>
                <td><%= r.created_at.strftime("%Y-%m-%d")%></td>
                <td class="text-center"><%= r.content%></td>
                <td><form action="/tjsehqnadmin/destroy/<%=r.id%>">
                <input type="submit" value="삭제">
                </form></td>
              </tr>
          <%end%>
        <%= will_paginate @receive %>
        </tbody>
      </table>
</div>

<a href="/tjsehqnadmin/information">고소장 내역 보기</a>  
