<!--갯수, 유저 Nickname, email, 가입한 날짜 뽑는 곳-->
<h1> 회원 관리 페이지 </h1>
<hr>
  <div>
    총 회원수 : <%= @dbdb.count %>
  </div>
<div class="col-md-12" style="margin-top:100px">
    
      <table class="table" width="90%" cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
        <thead>
          <tr>
            <th>닉네임</th>
            <th>email</th>
            <th>가입한 날짜</th>
            <th>최종 로그인</th>
            <th>로그인 횟수</th> 
            <th>Q&A 글쓴 횟수 </th>
            <th>고소미 작성 횟수(결제 횟수)</th>
          </tr>
        </thead>
        <tbody>
          <%@dbdb.reverse_each do |user| %>
              <tr>
                <td class="text-center"><%=user.nickname%><a href="#">(<%= user.qnas.count %>)</a></td>
                <td><%= user.email %></td>
                <td><%= user.created_at.strftime("%Y-%m-%d")%></td>
                <td class="text-center"><%= user.current_sign_in_at%></td>
                <td class="text-center"><%= user.sign_in_count%></td>
              </tr>
          <%end%>
        </tbody>
      </table>
</div>

<a href="/tjsehqnadmin/information">고소장 내역 보기</a>  
