<h1> 고소장 관리 페이지 </h1>
<hr>
<style>

</style>
    <div style="border:1px solid">
    총 사건수 : <%= @a.count %>
    </div>
<div class="col-md-12" style="margin-top:100px">
  <div class="col-md-12 sidebar">
      <h3 style="margin-bottom:10px"><i class="fa fa-tag fa-flip-horizontal"></i> 카테고리 </h3>
      <hr>
      <div class="col-md-12 ws-s tags-widget" style="padding-left:0px;padding-bottom:30px;padding-right:0px">
        <form action="/tjsehqnadmin/information" method="POST" id="categorize-form">  
          <input type="hidden" value="모욕" name="category">
          <input type="submit" value="모욕죄보기">
        </form>
        <form action="/tjsehqnadmin/information" method="POST" id="categorize-form">  
          <input type="hidden" value="인터넷사기" name="category">
          <input type="submit" value="인터넷사기보기">
        </form>
        <form action="/tjsehqnadmin/information" method="POST" id="categorize-form">  
          <input type="hidden" value="협박" name="category">
          <input type="submit" value="협박죄보기">
        </form>
      </div>
  </div>
</div>
<div>
      <form action="/tjsehqnadmin/information">  
        <input type="hidden" value="after" name="payment">
        <input type="submit" value="결제 완료 보기">
      </form>
</div>
<!-- 검색 바-->
             <div class="col-md-3"></div>
             <div class="col-md-9" style="text-align:center; margin-bottom:20px">
                   <div class="form-group">
                     <form action="/qna/index" method="GET" id="search-form">
                    
                      <div class="col-md-8">
                      <input style="margin-bottom:15px" name="search" type="text" placeholder="Search ..." class="form-control">
                      </div>
                      <div class="col-md-2">
                      <button style="width:100%" class="btn"><i class="fa fa-search"></i>검색</button>
                      </div>
                      <div class="col-md-2">
                      </div>
                    </form>
                    </div>
              </div><!-- search col-md-12 -->
<!-- 끝 -->      
      <table class="table" width="90%" cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
        <thead align="center">
          <tr>
            <th>Email(총 고소 횟수)</th>
            <th>사건 유형</th>
            <th>연락처</th>
            <th>관할서</th>
            <th>고소장 보기</th>
            <th>접수 여부(발송 전)</th>
            <th>접수 여부(발송 후)</th>
          </tr>
        </thead>
        <tbody align="center">
          <%@a.reverse_each do |s| %>
              <tr>
                <td class="text-center"><%=s.user.email%>(<%=s.user.sueforms.count%>)<a href="#"></td>
                <td><%= s.law_kind%></td>
                <td><%= s.my_phone%></td>
                <td><%= s.police_name%></td>
                <td><a href="/sue/show/<%=s.id%>">이동</a></td>
                <form action="/main/delivery/<%= s.id %>" method="POST">
                  <td>  
                   <div>
                        <input type="radio" id="radio01" name="delivery" value="before"/>
                        <label for="radio01"><span></span>발송 전</label>
                   </div>
                  </td>
                  <td>
                    <div>
                        <input type="radio" id="radio02" name="delivery" value="after"/>
                        <label for="radio02"><span></span>발송 완료</label>
                    </div>
                    <input type="submit" value="변경">
                  </td>
                </form>
              </tr>
          <%end%>
        </tbody>
      </table>
</div>