<!--갯수, 유저 Nickname, email, 가입한 날짜 뽑는 곳-->
<h1> 불만 유저 페이지 </h1>
<hr>
  <div>
    총 문의 횟수 : <%= Suggest.count %>
  </div>
<div class="col-md-12" style="margin-top:100px">
    
      <table class="table" width="90%" cellpadding="5" cellspacing="0" border="1" align="center" style="border-collapse:collapse; border:1px gray solid;">
        <thead>
          <tr>
            <th>카테고리</th>
            <th>닉네임</th>
            <th>접수 시간</th>
            <th>접수 내용</th>
            <th>내용</th>
            <th>삭제</td>
          </tr>
        </thead>
        <tbody>
        <%= will_paginate @suggest %>
          <%@suggest.reverse_each do |s| %>
              <tr>
                <td class="text-center"><%=s.category%></td>
                <% if s.you_nickname.present?%>
                <td><%= s.you_nickname %></td>
                <% else %>
                <td>없음</td>
                <% end %>
                <td><%= s.created_at.strftime("%Y-%m-%d")%></td>
                <td class="text-center"><%= s.title%></td>
                <td class="text-center"><a href="/tjsehqnadmin/show/<%=s.id%>">내용보기</a></td>
                <td><form action="/tjsehqnadmin/destroy/<%=s.id%>">
                <input type="submit" value="삭제">
                </form></td>
              </tr>
          <%end%>
        <%= will_paginate @suggest %>
        </tbody>
      </table>
</div>

<a href="/tjsehqnadmin/information">고소장 내역 보기</a>  
