<%= render partial: "hws_header" %>   

<div class="col-md-9" style="border-left: 1px solid #ccc;padding-left:30px">
    <table style="width:100%;border-collapse:none" cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
    	<tr>
    	<th class="table_top" style="width:10%">글번호</th>
    	<th class="table_top" style="width:50%">제목</th>
    	<th class="table_top" style="width:15%">닉네임</th>
    	<th class="table_top" style="width:10%;text-align:center">추천수</th>
    	<th class="table_top" style="width:15%;text-align:center">날짜</th>
    	</tr><!-- Table Header -->
      <!--공지사항 -->
        <% @n.each do |n| %>
          <tr>
            <td></td>
            <td><b><a href="/hws/show/<%=n.id%>"><%=n.title%></b></a></td>
            <td><b><%=User.find(n.user_id).nickname%></b></td>
            <td><b><%=n.hwslikes.count-n.hwsunlikes.count%></b></td>
            <td><b><%=n.created_at.strftime("%Y-%m-%d %H:%M:%S")%></b></td>
          </tr>
        <% end %>
      <!-- 끝 -->
        <%x1=0%>
        <%@a.each do |x|%>  
          <tr>
          <td><%=x.id%></td>
          <td><a href="/hws/show/<%=x.id%>"><%=x.title%> <i class="fa fa-comments-o"></i><%=x.hwscomments.count%></a></td>
          <td><img src="/assets/images/lv_10.png"> <%=User.find(x.user_id).nickname%></td>
          <td id="cider"><%=x.hwslikes.count-x.hwsunlikes.count%></td>
          <td id="date"><%= x.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
          </tr>
          <%x1=x1+1%>
        <%end%>
        <!--<tr class='even'><td><a href="#yep-iit-doesnt-exist">Hyperlink Example</a></td><td>80%</td><td><a href="#inexistent-id">Another</a></td><td>2015-11-12</td></tr>-->
        
        
    </table>
    <!-- 공지사항 글쓰기 -->
    <% if current_user.email == "asdf@naver.com"%>
    <div class="col-md-12" style="text-align:right; margin-top:20px;padding-right:0px">
           <a href="/hws/write/<%=params[:id]%>"><button class="btn">공지사항 쓰기</button></a>
    </div>
    <% else %>
    <!-- -->
    <!--일반 글쓰기 -->
    <div class="col-md-12" style="text-align:right; margin-top:20px;padding-right:0px">
           <a href="/hws/write/<%=params[:id]%>"><button class="btn">글 쓰기</button></a>
    </div>
    <% end %>
    <!-- 끝 -->
    <div class="col-md-12" style="text-align:center;">
           <nav class="blog-pagination">
                <ul class="pagination">
                  <li>
                    <a id='minus5' aria-label="Previous">
                      <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                    </a>
                  </li>
                </ul>
                <%page=((params[:id].to_i-1)/5).to_i+1%>
                <%@b.each do |y|%>
                  <%if y.modulo(5)==1%><ul id='page<%=y/5+1%>' 
                  style='<%if page==y/5+1%><%else%>display:none<%end%>;transition:1s' class="pagination allpage">
                  <%end%>
                    <li><a <%if y==params[:id].to_i%>style='color:blue'<%end%> href='/hws/index/<%=y%>'><%=y%></a></li>
                  <%if y.modulo(5)==0 || y==@b.count%></ul><%end%>            
                <%end%>
                <ul class="pagination">                
                  <li>
                    <a id='plus5' aria-label="Next">
                      <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                    </a>
                    <script>
                      var n=<%=page%>
                      $('#minus5').click(function() {
                          if(n==1){
                          n=1
                          }else{
                          n=n-1
                          }
                          $('.allpage')
                            .css({display:'none'})
                          $('#page'+n)
                            .css({display:''});
                      })                
                      $('#plus5').click(function() {
                          if(n==<%=(@b.count-1)/5.to_i+1%>){
                          n=<%=(@b.count-1)/5.to_i+1%>
                          }else{
                          n=n+1
                          }                        
                          $('.allpage')
                            .css({display:'none'})
                          $('#page'+n)
                            .css({display:''});
                      });  
                    </script>
                  </li>
                </ul>
             </nav>
    </div>
    <div class="col-md-12" style="text-align:center; margin-top:20px">
           <div class="form-group">
             <div class="col-md-2"></div>
             <div class="col-md-2">
                <select class="form-control" name="search_target">
                  <option value="title">제목</option>
                  <option value="content">내용</option>
                  <option value="title_content">제목+내용</option>
                </select>
              </div>
              <div  class="col-md-4">
              <input type="text" placeholder="Search ..." class="form-control">
              </div>
              <div class="col-md-2">
              <button class="btn"><i class="fa fa-search"></i>검색</button>
              </div>
              <div class="col-md-2">
              </div>
            </div>
    </div>
</div>
</div><!-- row -->
</div>
<%= render partial: "hws_footer" %>      
